@media (max-width: 630px) and (min-width: 400px){

ul{
    list-style: none;
    width: 400px;
    margin:0;
    padding:0;
    background: dodgerblue;
}



li a{
    display: block;
    text-decoration: none;
    color: white;
}

li a:hover{
    background-color: gray;
}

#welcome{
    font-size:15px;
    color: maroon;
    padding-left: 50px;
    margin-bottom: 50px;
    width: 480px;
}





}
